<div class="container">
  <div>
    <div class="col-sm-6">
      <div class="panel panel-primary" >
        <div class="panel-heading">Messages</div>
        <div class="panel-body">
          <div style="height:450px;overflow:auto">
          <p ng-repeat="message in messages track by $index" )>
            {{ message.user }}: {{ message.text }}
          </p>
          </div>
          <form class="form form-inline" ng-submit='sendMessage()'>
            <input type="text" class="form-control" ng-model="message">
            <button class="btn btn-sm btn-info">Send</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-4">

      <div class="panel panel-default">
        <div class="panel-heading">Users</div>
        <p ng-repeat="user in users track by $index")>
          {{ user }}
        </p>
      </div>
    </div>
  </div>
</div>
