<div class="container">
  <div class="row">

    <div class="col-sm-6">
      <div class="row players">

        <div class="row">
          <div class="col-sm-6"><h2>Draft Class</h2></div>
          <div class="col-sm-6 table-search">
            <form class="form-inline">
              <div class="form-group">
                <input type="text" ng-model="search" class="form-control" placeholder="Search">
              </div>
            </form>
          </div>
        </div>

        <Table id="playerTable" class="table table-striped">
          <tr>
            <th>Name</th><th>Position</th><th>Team</th><th>
              <button class='btn btn-info btn-xs' data-toggle="modal" data-target="#selectCustomModal">Select Custom</button>
            </th>
          </tr>
          <tr dir-paginate="player in players | orderBy:['selected', 'rank'] | filter:search | itemsPerPage:10">
            <td>{{ player.name }}</td>
            <td>{{ player.position }}</td>
            <td>{{ player.team }}</td>
            <td>
              <button class="btn btn-info"
                ng-click="selectPlayer(player.id)"
                ng-disabled="processing" ng-hide="!!player.selected">Select</button>
              <div ng-hide="!player.selected">{{ player.selected }}</div>
            </td>
          </tr>
        </table>
        <dir-pagination-controls></dir-pagination-controls>
      </div>
    </div>

    <div class="col-sm-5" ng-hide="!leagueName">
      <div class="row">
        <h2 class="team-header">Teams
          <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#insertTeamModal">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button></h2>
      </div>

      <div class="row">

        <div class="col-sm-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              Current Pick
              <button class="btn btn-xs btn-info pull-right" ng-click="undoLastPick()">Undo Last</button>
            </div>
            <div class="panel-body">
              <b>{{ currentPick.name }}</b>
              <p><b>Owner: </b>{{ currentPick.owner }}</p>
              <div>
                <b>QB</b>:{{ countAtPosition(currentPick, "QB") }} <b>RB</b>:{{ countAtPosition(currentPick, "RB") }}<br/>
                <b>WR</b>:{{ countAtPosition(currentPick, "WR") }} <b>TE</b>:{{ countAtPosition(currentPick, "TE") }}<br/>
                <b>K</b>:{{countAtPosition(currentPick, "K") }} &nbsp&nbsp<b>DEF</b>:{{ countAtPosition(currentPick, "DEF") }}</p>
              </div>
              <div ng-repeat="player in currentPick.players">
                {{ player.name }} - {{ player.position }} - {{ player.team }}
              </div>
            </div>
          </div>
        </div>

        <div class="row col-sm-6">
          <div class="panel panel-info">
            <div class="panel-heading">Draft Order</div>
            <div class="list-group draft-list">
              <div href="#" class="list-group-item" ng-repeat="team in teams">
                <span ng-class="{'active': team.activePick}" class="list-group-item">

                  {{ team.name }}
                  <button class="btn btn-xs btn-default" data-toggle="modal" data-target="#updateTeamModal"
                    data-teamid="{{ team.id }}" data-teamname="{{ team.name }}" data-owner="{{ team.owner }}" data-position="{{ $index }}">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                  </button>

                </span>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- Update Team Modal -->
      <div class="modal fade" id="updateTeamModal" tabindex="-1" role="dialog" aria-labelledby="updateTeamModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Update Team</h4>
            </div>
            <div class="modal-body">

              <form class="form-horizontal">
                <div class="form-group">
                  <label for="teamID" class="col-sm-4 control-label">Team ID</label>
                  <div class="col-sm-6">
                    <input disabled type="text" class="form-control" name="teamID" placeholder="ID" ng-model="teamFormData.teamID" />
                  </div>
                  <label for="teamName" class="col-sm-4 control-label">Team Name</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" name="teamName" required placeholder="team name" ng-model="teamFormData.teamName" />
                  </div>
                  <label for="owner" class="col-sm-4 control-label">Owner</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" name="owner" placeholder="Owner" ng-model="teamFormData.teamOwner" />
                  </div>
                  <label for="owner" class="col-sm-4 control-label">Draft Order</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" name="position" placeholder="Draft Position" ng-model="teamFormData.position" />
                  </div>
                </div>
                <button id='submitbtn' type="submit" class="btn btn-primary" ng-click="upsertTeam()">Update</button>
              </form>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Add Team Modal -->
      <div class="modal fade" id="insertTeamModal" tabindex="-1" role="dialog" aria-labelledby="insertTeamModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Add Team</h4>
            </div>
            <div class="modal-body">

              <form class="form-horizontal">
                <div class="form-group">
                  <label for="teamName" class="col-sm-4 control-label">Team Name</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" name="teamName" required placeholder="team name" ng-model="teamFormData.teamName" />
                  </div>
                  <label for="owner" class="col-sm-4 control-label">Owner</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" name="owner" placeholder="Owner" ng-model="teamFormData.teamOwner" />
                  </div>
                </div>
                <button id='submitbtn' type="submit" class="btn btn-primary" ng-click="upsertTeam()">Add Team</button>
              </form>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Select Custom Modal -->
      <div class="modal fade" id="selectCustomModal" tabindex="-1" role="dialog" aria-labelledby="selectCustomModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Select Custom Player</h4>
            </div>
            <div class="modal-body">

              <form class="form-horizontal">
                <div class="form-group">
                  <label for="playerName" class="col-sm-4 control-label">Player Name</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" name="playerName" required placeholder="name" ng-model="customPlayerFormData.playerName" />
                  </div>
                  <label for="position" class="col-sm-4 control-label">Position</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" name="position" placeholder="Position" ng-model="customPlayerFormData.position" />
                  </div>
                </div>
                <button id='submitbtn' type="submit" class="btn btn-primary" ng-click="selectCustomPlayer()">Select Player</button>
              </form>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
